.fotdiv {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  page-break-inside: 18px;
}
.fotter-desc {
  font-size: 24px;
  color: aliceblue;
}
footer {
  background: rgba(108, 117, 125, 1);
}
